
.story{
    flex-direction: column;
    align-items: center;
    height: 330px;
    width: 350px;
    padding: 30px;
    border: 2px solid rgb(9, 76, 131);
    margin: 10px;
    color: aliceblue;
    border-radius: 5rem;
}

.page{
    background-color: rgb(27, 27, 92);
    height: 100%;
    width: 100%;
    border-radius: 3rem;
}
.whole{
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
} 

.page button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding: 10px 15px;
    border-radius: 5rem;
    border: 0;
}

.links{
    font-weight: bold;
    color: antiquewhite;
    list-style: none;
}
