a{
    color: antiquewhite;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-decoration: none;
}

ul li{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 16px;
    color: antiquewhite;
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ul button{
    padding: 5px 15px;
    background-color: blue;
    border: none;
} */

.home-img{
    height: 75px;
    width: 75px;
}

.home-img3{
    height: 35px;
    width: 100px;
    border-radius: 3rem;
    background-color: rgb(46, 45, 45);
    color: white;
    margin-left: 10px;
    border: 0;
}

